[submodule "lib/batteries"]
	path = lib/batteries
	url = https://github.com/1bardesign/batteries.git
[submodule "lib/push"]
	path = lib/push
	url = https://github.com/Ulydev/push.git
[submodule "lib/slick"]
	path = lib/slick
	url = https://github.com/erinmaus/slick.git
[submodule "lib/inky"]
	path = lib/inky
	url = https://github.com/Keyslam/Inky.git
[submodule "lib/cam11"]
	path = lib/cam11
	url = https://notabug.org/pgimeno/cam11.git
